<section class="twitchAPI">
    <h3>TwitchTV Streams</h3>
    <nav class="twitch-nav">
        <ul>
            <a href="#" class="twitch-link twitch-link-all disabled">
                <li>All</li>
            </a>
            <a href="#" class="twitch-link twitch-link-online">
                <li>Online</li>
            </a>
            <a href="#" class="twitch-link twitch-link-offline">
                <li>Offline</li>
            </a>
        </ul>
    </nav>
    <ul class="streams-list">
    </ul>
</section>